<% include ../partials/head %>
<%- include('../partials/nav', {active: 'archive'}); %>

    <div class="container">
        <header class="jumbotron">
            <div class="container">
                <h2>Historic Brews</h2>
                <p>Look at past completed brews in the archive</p>
            </div>
        </header>

        <div class="row text-center">
            <% brews.forEach((brew) => { %>
                <div class="col-lg-4 col-md-6 brewBox">
                    <div class="brewDetails">
                        <a href="/archive/<%= brew.id%>" class="brewLink">
                            <%= brew.name %>
                        </a>
                        <p>
                            <span class="bold">Temp Range: </span> <%= brew.minTemp %> to <%= brew.maxTemp %>
                        </p>
                        <p>
                            <span class="bold">Created: </span> <%= new moment(brew.created).format('H:mm, MMMM Do YYYY') %> %>
                        </p>
                        <p>
                            <span class="bold">Creator: </span> <span style="text-transform: capitalize"><%= brew.creator.username %></span>
                        </p>
                        <a href="/archive/<%=brew.id%>/graph" class="btn btn-outline-light">
                            <i class="fas fa-chart-line"></i>
                        </a>
                        <form id="delete-form" action="/archive/<%=brew._id %>/?_method=DELETE" method="POST">
                            <a>
                                <button type="submit" class="btn btn-outline-danger">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </a>
                        </form>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>    
<% include ../partials/foot %>
