<% include ./partials/head %>
<% include ./partials/nav %>

<div class="container">
    <header class="jumbotron">
            <div class="container">
                <h2>Edit your Brew</h2>
                <p>Make your changes below</p>
            </div>
        </header>
    <div class="row">
        <div class="col">
            <div class="brew-form brewDetails">
                <h3>
                    Brew Details
                </h3>
                <form action="/brews/<%=brew._id%>?_method=PUT" method="post">
                    <div class="form-group">
                        <label for="name">Brew Name</label>
                        <input type="text" class="form-control" name="name" id="name" aria-describedby="name" value="<%=brew.name%>">
                    </div>
                    <div class="form-group">
                        <label for="min">Temperature Range</label>
                        <div class="row">
                            <input type="number" class="form-control form-half" name="minTemp" id="min" value="<%=brew.minTemp%>" step="0.25">
                            <input type="number" class="form-control form-half" name="maxTemp" id="max" value="<%=brew.maxTemp%>" step="0.25">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="topic">Topic</label>
                        <input class="form-control" type="text" readonly value="<%=brew.topic%>">
                    </div>
                    <div class="form-group">
                        <label for="created">Created on</label>
                        <input class="form-control" type="text" readonly value="<%=new moment(brew.created).format('h:mm a, MMMM Do YYYY')%>">
                    </div>
                    <div class="form-group">
                        <label for="token">Access Token</label>
                        <input id="token" class="form-control" type="text" readonly value="<%=brew.token%>">
                    </div>
                    <div class="form-group">
                        <label for="deviceId">Device ID</label>
                        <input id="deviceId" class="form-control" type="text" readonly value="<%=brew.deviceId%>">
                    </div>
                    <div style="display: inline-block">
                        <button type="submit" class="btn btn-outline-primary">Submit</button>
                </form>
                <a href="/brews/<%=brew.id%>/graph" class="btn btn-outline-light"><i class="fas fa-chart-line"></i></a>
                    <form id="delete-form" action="/brews/<%=brew._id %>/?_method=DELETE" method="POST">
                        <a>
                            <button type="submit" class="btn btn-outline-danger">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </a>
                    </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="brew-form brewDetails">
                    <h3>
                        Heat Control
                    </h3>
                    <div style="display:grid">
                        <div id="step1">
                            <div id="step1-login">
                                <p>
                                    1. Login to your TP Link Account
                                </p>
                                <div id="login-form" class="wide">
                                    <div class="form-group">
                                        <input type="text" name="email" id="email" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="password" id="password" class="form-control">
                                    </div>
                                    <button  id="login-button" class="btn btn-outline-info wide" onclick="tpLogin();">Login</button>
                                </div>
                            </div>
                            <div id="step1-logged-in" style="display:none;" class="wide">
                                <p>1. Logged in like a dream</p>
                                <button class="btn btn-outline-info wide" onclick="resetToken()">Reset Token</button>
                            </div>
                        </div>
                        <div id="step2">
                            <div id="step2-select">
                                <p>
                                    2. Select a device to control
                                </p>
                                <div id="select-device" class="wide">
                                    <div class="form-group">
                                        <select class="form-control" name="devices" id="devices">
                                            <option value="null"></option>
                                        </select>
                                    </div>
                                    <button onClick="setDevice();" class="btn btn-outline-warning wide">Select</button>
                                </div>
                            </div>
                            <div id="step2-selected" style="display:none" class="wide">
                                <p>2. Device has been selected</p>
                                <button class="btn btn-outline-warning wide" onclick="guiChooseDevice()">Change Device</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/tpLink/tplink.js"></script>

<% include ./partials/foot %>